<%= turbo_frame_tag "new_task_list" do %>
  <div class="pop-up">
    <div class="overlay"></div>
      <div class="modal-custom">
        <div class="position-relative">

          <h1>Editing task list</h1>

          <%= render "form", task_list: @task_list %>

          <br>

          <div>
            <%= link_to "Show this task list", @task_list %> |
            <%= link_to "Back to task lists", task_lists_path %>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
