<%= turbo_frame_tag "new_task_list" do %>
  <div class="modal-custom">
      <div>
        <h1><%= render 'utils/action_name'%>:
          <span id="new_task_list_title"></span>
        </h1>
        <%= render "form", task_list: @task_list %>
        <br>
        <div>
          <%= link_to "Back to task lists", task_lists_path %>
        </div>
      </div>
    </div>
  </div>
<% end %>